Bot/bin/
Bot/obj/
Bot.Interfaces/bin/
Bot.Interfaces/obj/
Bot.BotLists/bin/
Bot.BotLists/obj/
Bot.BotLists.Interfaces/bin/
Bot.BotLists.Interfaces/obj/
Bot.logger/bin/
Bot.logger/obj/
Bot.logger.Interfaces/bin/
Bot.logger.Interfaces/obj/

packages/
.vs/